*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    background: #000;
    height: 100%;
    width: 100%;
    padding: 30px;
}
.box{
    height: 300px;
    width: 350px;
    background-color: crimson;
    position: relative;
    overflow: hidden;

}
.box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.bottom{
    height: 100px;
    width: 100%;
    background: linear-gradient(transparent, #bd6836);
    /* background-color: red; */
    position: absolute;
    bottom: -50%;
    transition: all ease 0.3s;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.box:hover .bottom{
    bottom: 0%;
}
.bottom h2{
    font-size: 30px;
    font-weight: 600;
    color: whitesmoke;

}
.bottom h3{
    /* font-size: 20px; */
    height: 27px;
    background-color: white;
    padding: 3px 4px;
    border-radius: 50%;
}