@font-face {
    font-family: scary;
    src: url(Darkore.ttf);
}
*{
    border: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,body{
    margin: 0px;
    width: 100%;
    height: 100%;

}
.main{
    text-align: center;
    width: 100%;
    height: 100%;
    background-image: url("https://images.unsplash.com/photo-1765202661228-9c062bd08844?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHx0b3BpYy1mZWVkfDR8Ym84alFLVGFFMFl8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    
}
h1{
    font-family: scary;
    margin: 0px;
    padding-top: 100px;
    color: #9A1224;
}
button{
    background-color: #101517;
    font-size: 20px;
    color: #B5B5B5;
    padding: 4px 10px;
    border-radius: 15px;
}