*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
/* .mainblock{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
} */
.first_block{
    height: 150px;
    color: #dfd7d7;
    background-color: #1e225b;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}
.para1{
    margin-top: 10px;
    font-style: italic;
}
.head_1{
    text-transform: uppercase;
}
.second_block{
    
    text-align: center;
    border: 10px 10px 10px 1px ;
    width: 400px; color: #4eb4b4;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

