*{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    margin: 0;
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: #090909;
    padding: 20px;
    display: flex;  
    gap: 30px;
    flex-wrap: wrap;
   
}
.box1{
    background-color: #fff;
    height: 300px;
    width: 200px;
    box-shadow: 3px 3px 20px #f5deb393;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* position: absolute;
    top: 2%;
    left: 3%; */
}
.box1 img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50px;

}
.box1 button{
    background-color: #2bf3fa;
    font-size: 15px;
    padding: 5px 13px;
    border-radius: 50px;
    font-weight: 600;
    border: 2px solid #2bf3fa;
    cursor: pointer;

}
.box1 h2{
    margin-bottom: 0px;
}
.box1 button:hover{
    color: red;
    background-color: transparent;
    
}